body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
}

main {
    width: 90%;
    margin: 0 auto;
}

header {
    border-bottom: rgb(0,128,0) 5px solid;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
}
ul li {
    padding-right: 1rem;
    font-size: 1.5rem;
}

#aboutMe {
    display: flex;
    align-items: top;
    margin-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 2px solid rgb(205, 205, 205);
}

#myPhoto {
    width: 50%;
    border-radius: 5px;
}

section h1 {
    padding-right: 10rem;
}

button {
    border: rgb(0,128,0) 3px solid;
    background: rgba(205, 205, 205,0);
    border-radius: 5px;
    padding: .5rem 1.5rem;
    font-size: 1rem;
}

button:hover {
    background: rgba(0,128,0,.1);
}

.siteImg {
    width: 25%;
}